@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");

$color-main: #3f51b5;
$color-accent: #e81919;
$color-text: #333333;

$layout-width-inner: 1200px;

$font-en: "Lato", sans-serif;
$font-ja: "Noto Sans JP", sans-serif;

$breakpoints: (
  "sp": "(max-width: 767px)",
  "tab": "(min-width:768px) and (max-width:#{$layout-width-inner})",
  "pc": "(min-width: #{$layout-width-inner})",
);

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: $color-text;
  font-family: $font-ja;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;

  @include mq("tab") {
    padding: 0 24px;
  }

  @include mq("sp") {
    padding: 0 16px;
  }
}

.section_title {
  font-size: 48px;
  font-weight: bold;
  position: relative;
  text-align: center;
  padding-bottom: 28px;
  font-family: $font-en;

  @include mq("sp") {
    font-size: 30px;
    padding-bottom: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60px;
    height: 4px;
    background-color: $color-main;

    @include mq("sp") {
      width: 30px;
    }
  }
}

.section {
  padding: 100px 0 120px 0;

  @include mq("sp") {
    padding: 60px 0 80px 0;
  }
}

// header

header {
  background-color: $color-main;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 3px 6px rgba(#000, 0.16);
  top: 0;
  left: 0;

  @include mq("sp") {
    height: 60px;
  }
}

.header-inner {
  display: flex;
  align-items: center;
  height: inherit;
}

.header-logo {
  width: 205px;

  @include mq("sp") {
    width: 150px;
  }
  img {
    display: block;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: $font-en;

  @include mq("sp") {
    display: none;
  }
  li {
    &:not(:first-child) {
      margin-left: 40px;
    }

    a {
      text-decoration: none;
      color: #ffffff;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
        background: transparent;
      }

      &:hover,
      &.is-active {
        &::after {
          background: $color_accent;
        }
      }
    }
  }
}

.top {
  background: url(../img/mainvisual.png) no-repeat center center/ cover;
  height: 100vh;
  width: 100%;
  position: relative;
  margin-top: 100px;

  @include mq("sp") {
    margin-top: 60px;
    height: 100vh;
  }
}
.top-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.top-title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 28px;
  line-height: 1.3;

  @include mq("sp") {
    font-size: 32px;
    margin-bottom: 15px;
  }
}

.top-subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 36px;

  @include mq("sp") {
    font-size: 18px;
    margin-bottom: 18px;
  }
}

.top-button {
  a {
    display: inline-block;
    width: 384px;
    max-width: 100%;
    height: 72px;
    background: $color-main;
    line-height: 72px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    transition: all 0.3s ease 0s;

    @include mq("sp") {
      width: 240px;
      height: 60px;
      line-height: 60px;
      font-size: 18px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.card {
  background-color: #efefef;
}

.card-inner {
}

.card-items {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  width: calc(33.3% - 24px * 2 / 3);
  background: #fff;
  padding: 16px;
  border-radius: 4px;

  @include mq("pc") {
    &:not(:nth-child(3n + 1)) {
      margin-left: 24px;
    }

    &:nth-child(n + 4) {
      margin-top: 20px;
    }
  }
  @include mq("tab") {
    width: calc(50% - 24px * 1 / 2);

    &:not(:nth-child(2n + 1)) {
      margin-left: 24px;
    }

    &:nth-child(n + 3) {
      margin-top: 20px;
    }
  }

  @include mq("sp") {
    width: 100%;

    &:nth-child(n + 2) {
      margin-top: 20px;
    }
  }
}

.card-img {
  img {
    width: 100%;
  }
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
  color: #6f7579;
}

.card-text {
  font-weight: bold;
  margin-top: 16px;
  color: #6f7579;
}

// news

.news {
  background: #fff;
}
.news_inner {
}

.news_items {
  margin-top: 80px;
}
.news_item {
  display: flex;
  padding: 20px 0 12px;
  &:not(:nth-child(1)) {
    border-top: 1px solid #707070;
  }
  @include mq("sp") {
    display: block;
  }
}
.news_meta {
  display: flex;
  width: 185px;
}
.news_date {
  width: 105px;
  padding-top: 3px;
  font-family: $font-en;
}
.news_label {
  a {
    display: inline-block;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: #666666;
    width: 80px;
    height: 32px;
    border-radius: 4px;
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }
  }
  .is_blue {
    background: #3f51b5;
  }
  .is_red {
    background: #e81919;
  }
}
.news_title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 3px;
  a {
    line-height: (20 / 16);
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }
  }

  @include mq("sp") {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    margin-top: 6px;
  }
}
.news_more {
  margin-top: 60px;
  text-align: center;
  font-family: $font-en;
  a {
    color: #e81919;
    font-weight: bold;
    padding-right: 14px;
    position: relative;
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 7px;
      height: 11px;
      background: url(../img/news-arrow.png) no-repeat center center / contain;
    }
  }
}

// price

.price {
  background: #efefef;
}

.price_content {
  display: flex;
  margin-top: 80px;

  @include mq("sp") {
    display: block;
  }
}

.price_image {
  width: 454 / 1200 * 100%;

  @include mq("sp") {
    width: 100%;
  }
  img {
  }
}

.price_table {
  width: (172 + 268 + 268) / 1200 * 100%;
  margin-left: auto;

  @include mq("sp") {
    width: 100%;
    margin-top: 24px;
  }

  table {
    border-collapse: collapse;
    border: 1px solid #707070;
    background: #fff;
    font-weight: bold;
    width: 100%;
    table-layout: fixed;
    th,
    td {
      border: 1px solid #707070;
      padding: 0 24px;
      height: 58px;
      vertical-align: middle;
    }
    th {
      background: #999999;
      color: #fff;
      text-align: center;
      font-family: $font-en;

      &:nth-child(1) {
        width: 172px;

        @include mq("sp") {
          width: 86px;
        }
      }
    }
    td {
      text-align: right;
    }
    strong {
      color: #e81919;
      line-height: 1.2;
    }
    span {
      font-size: 13px;
      display: block;
      margin-top: 1px;
      line-height: 1.2;
    }
  }
  .price_text {
    font-size: 14px;
    margin-top: 10px;
    a {
      font-weight: bold;
      text-decoration-line: underline;
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// access

.access {
  background: #ffffff;
}

.access_inner {
}

.access_head {
}

.access_map {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

.iframe_wrap {
  width: 100%;
  padding-top: 400 / 800 * 100%;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.access_info {
  margin: 16px auto 0;
  width: 800px;
  max-width: 100%;
}

.access_info_row {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-top: 8px;
  }

  dt {
    margin: 0;
    padding: 0;
    font-weight: bold;
    width: 104px;
  }

  dd {
    margin: 0;
    padding: 0;
    width: calc(100% - 104px);
  }
}

.access_button {
  text-align: center;
  margin-top: 30px;

  a {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    width: 304px;
    padding: 16px 12px;
    background: $color-main;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    position: relative;
    transition: all 0.3s ease 0s;

    @include mq("sp") {
      width: 240px;
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      padding: 0;
    }

    &:hover {
      opacity: 0.7;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      width: 17px;
      height: 16px;
      background: url(../img/button-arrow@2x.png) no-repeat center center/ contain;
    }
  }
}

.qa {
  background: #eeeeee;
}

.qa_inner {
}

.qa_head {
}

.qa_items {
  width: 900px;
  max-width: 100%;
  margin: 80px auto 0;
}

.qa_item {
  &:not(:nth-child(1)) {
    margin-top: 24px;
  }
}

.qa_q_content {
  background: $color-main;
  padding: 12px 56px;
  display: flex;
  position: relative;
}

.qa_q_lead {
  font-weight: bold;
  color: #fff;

  &::before {
    content: "Q";
    position: absolute;
    top: 12px;
    left: 20px;
  }
}

.qa_icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;

  &.is-open {
    .qa_bar2 {
      transform: rotate(90deg);
    }
  }
}

.qa_bar1 {
  width: 14px;
  height: 2px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.qa_bar2 {
  width: 2px;
  height: 14px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease 0s;
}

.qa_a_content {
  padding: 16px 30px 16px 20px;
  background: #fff;
  border: 1px solid #3f51b5;
  display: none;
}

.qa_a_lead {
  color: $color-main;
  padding-left: 35px;
  font-size: 15px;
  font-weight: bold;
  position: relative;

  &::before {
    content: "A";
    position: absolute;
    top: 0;
    left: 0;
  }
}

.contact {
  background: #efefef;
}

.contact_inner {
}
.contact_head {
}

.contact_form {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding: 60px;

  @include mq("sp") {
    margin-top: 40px;
    padding: 24px;
  }
}

.contact_form {
}

.contact_form_dl {
}

.contact_form_row {
  display: flex;

  @include mq("sp") {
    display: block;
  }

  &:not(:first-child) {
    margin-top: 60px;

    @include mq("sp") {
      margin-top: 30px;
    }
  }
}

.contact_form_label {
  width: 160px;
  padding: 5px 0 0;
  margin: 0;

  @include mq("sp") {
    width: 100%;
  }

  label {
    font-weight: bold;

    &.is_must {
      display: inline-block;
      position: relative;

      &::after {
        content: "必須";
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        background: #e81919;
        text-align: center;
        border-radius: 4px;
        padding: 3px 8px;
        line-height: 1;

        @include mq("sp") {
          top: 50%;
          transform: translateY(-50%);
          left: calc(100% + 6px);
          width: 44px;
        }
      }
    }
  }
}

.contact_form_input {
  width: calc(100% - 160px);
  margin: 0;
  padding: 0;

  @include mq("sp") {
    width: 100%;
  }

  [type="text"] {
    box-shadow: none;
    border: 1px solid #707070;
    background: #fff;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
  }

  [type="email"] {
    box-shadow: none;
    border: 1px solid #707070;
    background: #fff;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
  }

  select {
    box-shadow: none;
    border: 1px solid #707070;
    background: #fff url(../img/select-arrow.png) no-repeat right 12px center / 17px 14px;
    padding: 12px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
  }

  textarea {
    height: 240px;
    box-shadow: none;
    border: 1px solid #707070;
    background: #fff;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    resize: none;
  }
}

.contact_form_radio {
  margin-top: 32px;

  [type="radio"] {
    display: none;
  }

  span {
    display: inline-block;
    padding-left: 26px;
    position: relative;
    margin-right: 36px;

    @include mq("sp") {
      margin-bottom: 8px;
      margin-right: 20px;
    }

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border: 1px solid #707070;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #fff;
      border-radius: 50%;
    }

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      background: $color-main;
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
    }
  }

  [type="radio"]:checked + span {
    &::after {
      display: block;
    }
  }
}

.contact_form_check {
  margin-top: 63px;
  text-align: center;

  [type="checkbox"] {
    display: none;
  }

  span {
    display: inline-block;
    padding-left: 49px;
    position: relative;

    a {
      font-weight: bold;
      text-decoration-line: underline;
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 0.7;
      }
    }

    &::before {
      content: "";
      width: 25px;
      height: 25px;
      background: #fff;
      border: 1px solid #707070;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      width: 25px;
      height: 25px;
      background: transparent url(../img/checkbox.png) no-repeat center center / contain;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: none;
    }
  }

  [type="checkbox"]:checked + span {
    &::after {
      display: block;
    }
  }
}

.contact_form_button {
  margin-top: 30px;
  text-align: center;

  [type="submit"] {
    background: $color-main url(../img/button-arrow@2x.png) no-repeat right 12px center / 17px 16px;
    width: 304px;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    padding: 14px 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    appearance: none;
    font-family: inherit;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease 0s;

    @include mq("sp") {
      width: 240px;
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      padding: 0;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.contact_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  max-width: calc(100% - 24px * 2);
  height: 652px;
  max-height: calc(100% - 24px * 2);
  box-shadow: 0 0 3px rgba(#000, 0.16);
  z-index: 501;
  background: #fff;
  padding: 60px;
  color: #707070;
  display: none;
}

.contact_modal_head {
  font-size: 24px;
  font-weight: bold;
  color: #707070;
  text-align: center;
  padding-bottom: 24px;
  position: relative;

  &::after {
    content: "";
    width: 100px;
    height: 2px;
    background: $color-main;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.contact_modal_content {
  margin-top: 40px;
  height: calc(100% - 84px - 108px);
  overflow: auto;

  > :first-child {
    margin-top: 0;
  }
}

.contact_modal_subhead {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  position: relative;

  &::before {
    content: "";
    width: 4px;
    height: 20px;
    background: $color-main;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.contact_modal_lead {
  margin-top: 16px;
  line-height: (24 / 16);
  padding-left: 20px;
}

.contact_modal_btn {
  text-align: center;
  padding-top: 60px;
  a {
    color: #fff;
    display: inline-block;
    width: 174px;
    height: 48px;
    background: $color-main;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    line-height: 48px;
  }
}

.contact_modal_icon {
  position: absolute;
  top: -20px;
  right: -20px;

  a {
  }

  img {
    width: 40px;
    height: 40px;
  }
}

.contact_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.3);
  z-index: 500;
  display: none;
}

footer {
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 64px 0 24px;
  color: #fff;
  width: 100%;

  @include mq("sp") {
    padding: 30px 0 16px;
  }
}

.footer_inner {
}

.footer_content {
  display: flex;

  @include mq("sp") {
    display: block;
  }
}

.footer_left {
  width: 36%;

  @include mq("sp") {
    width: 100%;
  }
}

.footer_logo {
  width: 205px;
  margin-bottom: 32px;

  @include mq("sp") {
    width: 150px;
  }
  a {
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }
  }

  img {
  }
}

.footer_address {
  font-size: 14px;
}

.footer_tel {
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 46px;

  @include mq("sp") {
    margin-top: 12px;
    margin-bottom: 20px;
  }
}

.footer_center {
  width: 48%;

  @include mq("sp") {
    width: 100%;
  }
}

.footer_nav {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: $font-en;

  @include mq("sp") {
    justify-content: center;
  }
  li {
    &:not(:first-child) {
      margin-left: 40px;

      @include mq("sp") {
        margin-left: 20px;
      }
    }
    a {
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.footer_right {
  width: 16%;

  @include mq("sp") {
    width: 100%;
  }
}

.footer_sns {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  @include mq("sp") {
    justify-content: center;
    margin: 20px 0;
  }
  li {
    &:not(:first-child) {
      margin-left: 16px;
    }

    a {
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 0.7;
      }
    }

    img {
      width: 30px;
    }
  }
}

.footer_copy {
  text-align: center;
  font-size: 14px;
  font-family: $font-en;
}

.to_top {
  position: fixed;
  right: 16px;
  bottom: 16px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;

  &.is_show {
    opacity: 1;
    visibility: visible;
  }

  a {
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }
    img {
      width: 60px;

      @include mq("sp") {
        width: 40px;
      }
    }
  }
}

.swiper-container {
  overflow-x: hidden;
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background: transparent url(../img/arrow-next@2x.png) no-repeat center center / contain;
  right: calc(50% - #{$layout-width-inner} / 2);

  @include mq("tab") {
    right: 10px;
  }

  @include mq("sp") {
    right: 10px;
  }

  &::after {
    display: none;
  }
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background: transparent url(../img/arrow-prev@.png) no-repeat center center / contain;
  left: calc(50% - #{$layout-width-inner} / 2);

  @include mq("tab") {
    left: 10px;
  }

  @include mq("sp") {
    left: 10px;
  }

  &::after {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin-left: 6px;
  margin-right: 6px;
  background: #ffffff9e;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #2f7dc8;
}

.drawer_icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  transition: transform 0.5s ease 0s;

  @include mq("sp") {
    display: block;
  }

  &.is_active {
    transform: translateX(-200px);

    .drawer_icon_bar1 {
      top: 8px;
      transform: rotate(45deg);
    }

    .drawer_icon_bar2 {
      display: none;
    }

    .drawer_icon_bar3 {
      top: 8px;
      transform: rotate(-45deg);
    }
  }
}

.drawer_icon_bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer_icon_bar1,
.drawer_icon_bar2,
.drawer_icon_bar3 {
  position: absolute;
  width: 22px;
  height: 4px;
  top: 0;
  left: 0;
  background: #fff;
}

.drawer_icon_bar1 {
  top: 0;
}

.drawer_icon_bar2 {
  top: 8px;
}

.drawer_icon_bar3 {
  top: 16px;
}

.drawer_content {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 3px rgba(#000, 0.16);
  z-index: 299;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;

  &.is_active {
    transform: translateX(0);
  }
}

.drawer_content_items {
}

.drawer_content_item {
  border-bottom: 1px dotted #707070;
  a {
    display: block;
    padding: 20px;
    color: #707070;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 21px;
      transform: translateY(-50%);
      width: 5px;
      height: 8px;
      background: url(../img/arrow-b@2x.png) no-repeat center center / contain;
    }
  }
}

.drawer_background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.8);
  z-index: 298;
  display: none;

  &.is_active {
    display: block;
  }
}
